:root {
  font-family: open-sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .Welcome {
    display: none;
  }

  .CallUs {
    font-size: 8px;
  }

  /* from product page */
  .Category {
    margin-top: 18px;
    min-width: 80%;
  }
  .DetailsCard {
    width: 90%;
    margin: 0 auto;
  }
}
  


