:root {
  font-family: open-sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 600px) {
  .Welcome {
    display: none;
  }

  .CallUs {
    font-size: 8px;
  }

  /* Home page */
  .OverviewContainer {
    width: 80% !important;
    margin: 0 auto;
    padding: 0 !important;
  }

  /* footer section */
  .FooterTop {
    padding-left: 0px !important;
    padding: 38px !important;
  }

  .Link {
    display: none;
  }

  /* from product page */
  .Category {
    margin-top: 18px;
    min-width: 80%;
  }
  .DetailsCard {
    width: 90%;
    margin: 0 auto;
  }

  /* Search Page */
  .SearchContainer {
    width: 90% !important;
  }

  /* carousel mobile  */
  .CarouselContainer {
    margin-top: 12px !important;
    top: 80px !important;
  }

  .CardContainer {
    margin-top: 5px !important;
  }

  /* loan form mobile */
  .TopSection {
    width: 100%;
    top: 28px;
    left: 0;
    padding: 12px;
  }

  .TopText {
    width: 100%;
  }

  .HeroCard {
    width: 100%;
  }

  .NairaIcon {
    top: 34px;
    right: 110px;
  }

  .ActionBtn {
    width: 90%;
    padding-bottom: 18px;
  }

  .CtaText {
    padding: 18px;
    font-size: 2rem;
  }

  .BocTrustMsg {
    padding: 12px;
  }

  .Testimonial {
    padding: 22px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center !important;

  }

  .TestimonialCard {
    margin-bottom: 16px !important;
  }

  .ProfileCard {
    flex-direction: column !important;
    text-align: center;
  }

  .EmailCard {
    width: 90% !important;
    height: 500px !important;
    padding: 0 18px !important;
    text-align: center;
  }

  .EmailCard input {
    width: 100%;
    margin-bottom: 32px;
    font-size: 18px !important;
  }
}
  


